<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SophiaType</title>
</head>
<body>
  <div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to hell :)</h1><br>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <%= button_to "GO", typing_test_path, method: :get, class: "btn btn-outline-secondary" %>
  </div>

  <%= javascript_include_tag "main_index_script.js" %>
</body>
</html>
