<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SophiaType</title>
</head>
<body>
  <div class="d-flex align-items-center justify-content-center">
    <h1>do you feel the weight of your sins?</h1><br>
  </div>

  <div class="row justify-content-center">
  <div class="col-md-6">
    <%= form_with url: typing_test_path, method: :get do |form| %>
      <div class="input-group mb-3">
        <%= form.select :size, options_for_select([["Small", "Small"], ["Medium", "Medium"], ["Large", "Large"]]), {}, {class: "form-select", "aria-label": "Select Text Size"} %>
        <button class="btn btn-primary" type="submit">Go</button>
      </div>
    <% end %>
  </div>
</div>

  <%= javascript_include_tag "main_index_script.js" %>
</body>
</html>
