<title>Akinêtos</title>
<h1 class="d-flex align-items-center justify-content-center">About</h1>
<p class="d-flex align-items-center justify-content-center">Typing test game using Ruby on Rails</p>
<div class="col col-lg-6 mb-4 mb-lg-0">
  <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #a34e78;">
    <blockquote class="blockquote pb-2">
      <p>
        Age is an issue of mind over matter. If you don't mind, it doesn't matter.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer mb-0 font-italic">
      Mark Twain
    </figcaption>
  </figure>
</div>